:root {
  --background-flag: linear-gradient(
    90deg,
    #bfeff5 0% 14.28%,
    #00a9e0 14.28% 28.56%,
    #c9ef14 28.56% 42.84%,
    #ffffff 42.84% 57.12%,
    #ffc400 57.12% 71.4%,
    #ff6f6f 71.4% 85.68%,
    #ffc0d9 85.68% 100%
  );
  --background-rainbow: linear-gradient(
    to right,
    #bfeff5,
    #00a9e0,
    #c9ef14,
    #ffffff,
    #ffc400,
    #ff6f6f,
    #ffc0d9
  );
}

.App {
  text-align: center;
  background-color: var(--color-grey-700);
  min-height: 100vh;
  /* display: flex;
  flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: #ccc;
  /* padding: var(--spacing-xl); */
}

/* .App-logo {
  height: 20vmin;
  pointer-events: none;
} */

/* .App-link {
  color: #61dafb;
} */

.downloader {
  background: var(--background-flag);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-xl);
  padding: var(--spacing-xl);
  min-height: 100vh;
}

.form-backdrop {
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  /* border: 0.5rem solid #fff; */
  padding: var(--spacing-xl);
  gap: 2rem;
}

@media screen and (min-width: 768px) {
  .form-backdrop {
    width: 100%;
    max-width: var(--container-lg);
    margin-left: auto;
    margin-right: auto;
  }
}

textarea {
  background-color: rgba(255, 255, 255, 0.85);
  border: 1px solid var(--color-grey-600);
  flex: 1;
  font-size: var(--font-size-xl);
  padding: 1rem;
}
textarea::placeholder {
  color: var(--color-grey-600);
  text-shadow: 2px 2px 2px white;
}
.button-wrapper {
  width: 20rem;
  max-width: 80%;
  margin: 0 auto;
}

/* Buttons */

button[type="submit"] {
  background-color: white;
  /* background-color: var(--color-grey-600); */
  /* color: white; */
  border-radius: 0.5rem;
  border: 3px solid var(--color-grey-900);
  font-size: var(--font-size-xl);
  font-weight: bold;
  width: 100%;
  display: flex;
  /* align-items: stretch; */
  padding: 0;
}

button[type="submit"]:disabled {
  background-color: var(--color-grey-700);
  border-color: var(--color-grey-800);
  color: var(--color-grey-400);
  cursor: not-allowed;
}

.button-text {
  /* background: "pink"; */
  flex: 1;
  padding: var(--spacing-sm) var(--spacing-xl);
}

.button-icon {
  background-color: var(--color-grey-900);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.6rem;
  padding: 0;
  margin: 0;
}
button.gay {
  background: linear-gradient(
    45deg,
    #bfeff5,
    #00a9e0,
    #c9ef14,
    #ffffff,
    #ffc400,
    #ff6f6f,
    #ffc0d9
  );
  color: black;
}
button.gay .button-icon {
  background: transparent;
  /* color: black; */
}
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

.background-gay {
  background: var(--background-rainbow);
}
