.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ccc;
}

.App-link {
  color: #61dafb;
}

.ripper {
  display: flex;
  padding: 1rem;
  border: 1px solid #000;
  width: 75%;
}

input {
  background: rgba(255,255,255,.25);
  flex: 1;
  font-size: 125%;
  padding: 1rem;
}
button {
  font-size: 125%;
  padding: 1rem;
}