.logs-section {
  background: var(--color-grey-900);
  /* margin-top: var(--spacing-xl); */
  font-size: var(--font-size-md);
  display: flex;
  flex-direction: column;
  align-self: stretch;
  justify-self: stretch;
  /* display: flex; */
  /* flex-direction: column; */
  /* gap: var(--spacing-sm); */
  min-height: 100vh;
  position: relative;
}

.logs-section header {
  border-bottom: 1px solid var(--color-grey-600);
  padding: var(--spacing-md) var(--spacing-xl);
  font-weight: bold;
  font-size: var(--font-size-lg);
  color: var(--color-grey-700);
}

.logs-section footer {
  border-top: 1px solid var(--color-grey-600);
  padding: var(--spacing-md) var(--spacing-xl);
  font-weight: bold;
  font-size: var(--font-size-md);
  /* color: var(--color-grey-700); */
  margin-top: auto;
}

.logger-header {
  /* display: grid;
  grid-template-columns: auto 1fr 2rem; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-md);
}

.logs {
  flex: 1;

  /* margin-top: var(--spacing-sm); */
}

.icon-scroller {
  display: flex;
  gap: var(--spacing-sm);
  overflow-x: auto;
  padding: var(--spacing-sm);
  /* add icons to start of array :D */
}

/* // remove scrollbar */
.icon-scroller::-webkit-scrollbar {
  display: none;
}

.icon-scroller .icon {
  flex-shrink: 0;
}
/* pulsing animation */

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.icon-scroller .icon {
  animation: spin 4s linear infinite;
}

button.close-logs {
  background: transparent;
  border: none;
  color: var(--color-grey-500);
  font-size: var(--font-size-lg);
  cursor: pointer;
}

.logger {
  text-align: left;
  margin: 0;
  padding: 0;
  /* width: 100%; */
  position: relative;
}

.logger > li {
  color: #aeaebc;
  list-style-type: none;
  margin: 0;
  padding: var(--spacing-sm) var(--spacing-md);
  display: block;
  white-space: pre-wrap;
  font-family: monospace;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-bottom-color: transparent;
  text-overflow: ellipsis;

  position: relative;
}

.logger > li:first-of-type {
  border-top-color: transparent;
}

.logger > li:last-of-type {
  color: white;
  border-image: linear-gradient(
      to right,
      #bfeff5,
      #00a9e0,
      #c9ef14,
      #ffffff,
      #ffc400,
      #ff6f6f,
      #ffc0d9
    )
    1 stretch;
}
