.logs-section {
  background: var(--color-grey-900);
  margin-top: var(--spacing-xl);
  font-size: var(--font-size-md);
  padding: var(--spacing-xl);
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  position: relative;
}

.logger {
  text-align: left;
  margin: 0;
  padding: 0;
  width: 100%;
}

.logger > li {
  color: #aeaebc;
  list-style-type: none;
  margin: 0;
  padding: var(--spacing-sm) var(--spacing-md);
  display: block;
  white-space: pre-wrap;
  font-family: monospace;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-bottom-color: transparent;
}

.logger > li:first-of-type {
  border-top-color: transparent;
}

.logger > li:last-of-type {
  color: white;
  border-image: linear-gradient(
      to right,
      #bfeff5,
      #00a9e0,
      #c9ef14,
      #ffffff,
      #ffc400,
      #ff6f6f,
      #ffc0d9
    )
    1 stretch;
}

button.close-logs {
  position: absolute;
  top: var(--spacing-lg);
  right: var(--spacing-lg);
  background: transparent;
  border: none;
  color: var(--color-grey-500);
  font-size: var(--font-size-lg);
  cursor: pointer;
}
